@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
* {
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  min-height: 100%;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    -45deg,
    #e66465,
    #9198e5,
    #ad5d98,
    #0c7c5d,
    #fef8e2,
    #7abab7,
    #e9b64c
  );
  color: white;
  text-align: center;
  line-height: 1.4;
}

ul {
  list-style-type: none;
}

.album{
  cursor: pointer;
}

.album-showcase {
  width: 100%;
  padding-top: 1rem;
}

.album-showcase__album {
  max-height: 90vh;
  max-width: 100vw;
}
span {
  background: rgba(3, 3, 3, 0.55);
  padding: 0.05rem;
}
.title,
.subtitle,
.paragraph,
li {
  padding-bottom: 1rem;
}

.link {
  background-image: linear-gradient(to right, #e66465, #9198e5, #efd9e3);
  color: black;
  text-decoration: none;
  background-size: 100% 100%;
  transition: color 0.2s linear;
}

.link:hover {
  color: white;
}

.artist-form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artist-form__input {
  font-family: inherit;
  font-size: inherit;
  width: 80%;
  padding: .5rem;
  margin-bottom: .5rem;
  border-radius: .2rem;
  text-align: center;
}
.artist-form__button {
  min-width: 40%;
  max-width: 50%;
  padding: .2rem;
  border-radius: .5rem;
  background-color: black;
  color: white;
  padding: .2rem;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  transition: color .2s linear;
  margin-bottom: 1rem;
}

.artist-form__button:hover{
  color: black;
  background-color:white ;
}
.paragraph{
  margin-top: .5rem;
}